.title {
  font-family: Greycliff CF, var(--mantine-font-family);
  font-weight: 900;
  margin-bottom: var(--mantine-spacing-md);
  text-align: start;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(28px);
    text-align: left;
  }
}

.contentArea {
  display: flex;
  flex-grow: 1;
  background-color: gray;
  border-radius: 5px;
  padding: 20px;
}
