.wrapper {
  max-width: 90%;
  margin: auto;
  padding-bottom: calc(var(--mantine-spacing-xl));
}
.title {
  font-family: Greycliff CF, var(--mantine-font-family);
  font-weight: 900;
  margin-bottom: var(--mantine-spacing-md);
  text-align: start;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(28px);
    text-align: left;
  }
}

.contentArea {
  display: flex;
  background-color: gray;
  border-radius: 5px;
  padding: 20px;
}

.paramWrapper {
  width: 1fr;
}
.paramHeader {
  font-family: Greycliff CF, var(--mantine-font-family);
  font-weight: 900;
  margin-bottom: var(--mantine-spacing-md);
  text-align: start;
}
